<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SS.Ynote.Classic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SS.Ynote.Classic.Properties.Settings>
            <setting name="PluginConfigFile" serializeAs="String">
                <value>Configurations/Plugins.xml</value>
            </setting>
            <setting name="File" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowTabIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TabRightToLeft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TabLocation" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="BracketHighlightColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="LineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PaddingWidth" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="Encoding" serializeAs="String">
                <value>ANSI</value>
            </setting>
            <setting name="ToolBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LineInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowCaret" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTextArea" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HyperLinkColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="EditorBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PaddingColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="IndentBackColor" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="FoldingLinesColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="LineNumberColor" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="SelectionColor" serializeAs="String">
                <value>60, 0, 0, 255</value>
            </setting>
            <setting name="BookMarksColor" serializeAs="String">
                <value>PowderBlue</value>
            </setting>
            <setting name="BracketHighlightColor2" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="ShowFoldingLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenPreviousFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpellCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="RecentFiles" serializeAs="String">
                <value />
            </setting>
        </SS.Ynote.Classic.Properties.Settings>
    </userSettings>
</configuration>